@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url("./assets/background.jpg"); /* Separate gradient and image */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

* {
    scrollbar-width: thin;
    
}

::-webkit-scrollbar {
    width: 8px !important;
}

::-webkit-scrollbar-track {
    background: #555 !important;
}

::-webkit-scrollbar-thumb {
    background: #121212 !important;
    border-radius: 5px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #242424 !important;
}

